@inject IJSRuntime JSRuntime

<div class="h-100" id="@ContainerId"></div>

@code {
    [Parameter] public string ContainerId { get; set; }

    [Parameter] public CanvasJsConfig Config { get; set; }

    public async void Render()
    {
        await CanvasJsChartJsInterop.CreateChart(jsRuntime: JSRuntime, containerId: ContainerId, config: Config);
    }
}