@inject IJSRuntime JSRuntime

<div id="@ContainerId"></div>    

@code {
    [Parameter] public string ContainerId { get; set; }

    public async void RenderAsync(ICanvasJsConfig config)
    {
        await CanvasJsChartJsInterop.CreateChartAsync(jsRuntime: JSRuntime,
                                                     containerId: ContainerId,
                                                     config: config);
    }
}


