@inject IJSRuntime JSRuntime

<div class="h-100" id="@ContainerId"></div>

@code {
    [Parameter] public string ContainerId { get; set; }

    public async void RenderAsync(IGraphData data, IGraphOptions options)
    {
        await GraphChartJsInterop.CreateGraphAsync(jsRuntime: JSRuntime,
                                                   containerId: ContainerId,
                                                   data: data,
                                                   options: options);
    }
}

