@inject IJSRuntime JSRuntime

<div class="h-100" id="@_containerId"></div>

@code {
    private string _containerId = "graphCointainerId";

    [Parameter] public GraphData GraphData { get; set; }

    [Parameter] public GraphOptions GraphOptions { get; set; }

    public async void Render()
    {
        await GraphChartJsInterop.CreateGraph(jsRuntime: JSRuntime, containerId: _containerId, data: GraphData, options: GraphOptions);
    }
}