@inject IJSRuntime JSRuntime

<div class="h-100" id="@ContainerId"></div>

@code {
    [Parameter] public string ContainerId { get; set; }

    [Parameter] public GraphData GraphData { get; set; }

    [Parameter] public GraphOptions GraphOptions { get; set; }

    public async void Render()
    {
        await GraphChartJsInterop.CreateGraph(jsRuntime: JSRuntime, containerId: ContainerId, data: GraphData, options: GraphOptions);
    }
}