@page "/"
@inject IMatrixService MatrixService
@inject IGraphChartService GraphChartService
@inject IGraphConsistentService GraphConsistentService
<h1>Hello, world!</h1>
<div> is consistent: @GraphConsistentService.IsConsistent(_matrix)</div>
<button class="btn btn-primary" @onclick="GenerateGraph">Generate Graph</button>

<GraphChart @ref="_graphChart"
            EdgeProbability="_edgeProbability"
            NodeCount="_nodeCount"
            GraphData="_graphData"
            GraphOptions="_graphOptions" />
@code {
    private int _nodeCount;
    private double _edgeProbability;
    private GraphData _graphData;
    private GraphOptions _graphOptions;
    private MatrixModel _matrix;
    private GraphChart _graphChart;

    protected override void OnInitialized()
    {
        _nodeCount = 10;
        _edgeProbability = 0.5d;
        GenerateGraph();
    }

    private void GenerateGraph()
    {
        _matrix = MatrixService.GenerateMatrix(nodeCount: _nodeCount, edgeProbability: _edgeProbability);
        _graphData = GraphChartService.GraphDataFromMatrix(_matrix);
        _graphOptions = GraphChartService.GetDefaultGraphOptions();
    }
}