@page "/"

<h1>Hello, world!</h1>

<GraphChart @ref="_graphChart"
            Probability="_probability"
            NodeCount="_nodeCount"
            NodeCountDecreaseChanged="DecrementNodeCount"
            NodeCountIncreaseChanged="IncrementNodeCount" />

@code {
    private int _nodeCount;
    private int _probability;
    private GraphChart _graphChart;

    private void IncrementNodeCount()
    {
        _nodeCount++;
    }

    private void DecrementNodeCount()
    {
        _nodeCount--;
    }
}